In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
df=pd.read_csv('criminal_train.csv')
df_test=pd.read_csv('criminal_test.csv')

In [4]:
df.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,25095143,4,2,4,1,3,1,1,1,99,...,1,2,1,1,2,2,3884.805998,40026,1,0
1,13005143,4,1,3,1,2,1,1,1,99,...,2,2,2,3,2,2,1627.108106,40015,2,1
2,67415143,4,1,2,1,2,1,1,1,99,...,2,2,2,3,2,2,4344.957980,40024,1,0
3,70925143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,792.521931,40027,1,0
4,75235143,1,0,6,1,4,1,1,1,99,...,2,2,2,2,2,2,1518.118526,40001,2,0

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
X=df.drop(['PERID','Criminal'],axis=1)

In [9]:
scale=StandardScaler()
X=scale.fit_transform(X)

In [12]:
X_test=df_test.drop(['PERID'],axis=1)

In [13]:
X_test.head()

,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,PRXYDATA,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,4,0,4,1,2,1,1,1,99,99,...,2,2,2,1,1,2,2,16346.795400,40020,1
1,4,0,4,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,3008.863906,40044,2
2,2,0,3,1,2,1,1,1,99,1,...,1,2,2,2,2,2,2,266.952503,40040,2
3,4,0,6,1,2,1,1,1,99,99,...,3,2,2,1,1,2,2,5386.928199,40017,1
4,1,0,4,1,3,1,1,1,99,1,...,3,2,1,1,1,2,2,173.489895,40017,1

In [54]:
X_test=scale.transform(X_test)

In [18]:
X_test.shape

(11430, 70)

In [21]:
y=df['Criminal']

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier,RandomForestClassifier

In [20]:
logis=LogisticRegression()

In [22]:
logis.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [23]:
logis.score(X,y)

0.93888621549499107

In [25]:
preds=logis.predict(X_test)

In [29]:
subs=pd.DataFrame({'PERID':df_test['PERID'],'Criminal':preds})
subs.to_csv('logistic.csv',index=False,header=True,columns=['PERID','Criminal'])

In [28]:
subs.head()

   Criminal     PERID
0         0  66583679
1         0  35494679
2         0  79424679
3         0  11744679
4         0  31554679

In [30]:
X_train=df.drop(['PERID','Criminal'],axis=1)

In [38]:
X_test=df_test.drop(['PERID'],axis=1)

In [32]:
model=LogisticRegression()

In [33]:
model.fit(X_train,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [39]:
X_test.head()

,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,PRXYDATA,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,4,0,4,1,2,1,1,1,99,99,...,2,2,2,1,1,2,2,16346.795400,40020,1
1,4,0,4,1,1,1,1,1,99,99,...,3,2,2,1,1,2,2,3008.863906,40044,2
2,2,0,3,1,2,1,1,1,99,1,...,1,2,2,2,2,2,2,266.952503,40040,2
3,4,0,6,1,2,1,1,1,99,99,...,3,2,2,1,1,2,2,5386.928199,40017,1
4,1,0,4,1,3,1,1,1,99,1,...,3,2,1,1,1,2,2,173.489895,40017,1

In [40]:
preds=model.predict(X_test)

In [41]:
subs=pd.DataFrame({'PERID':df_test['PERID'],'Criminal':preds})
subs.to_csv('submission.csv',index=False,header=True,columns=['PERID','Criminal'])

In [42]:
df.describe()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
count,4.571800e+04,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,...,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000
mean,5.445446e+07,3.355549,0.476486,3.426375,1.001706,2.084124,1.007437,1.162606,1.011024,97.394943,...,2.219410,2.234940,1.646135,1.764666,1.978936,1.978739,4692.661179,40023.739118,1.493854,0.069447
std,2.553911e+07,1.176651,0.888472,1.427420,0.061314,1.102988,0.123162,0.469029,0.146444,12.355156,...,5.295784,5.293651,0.618403,0.771411,0.144510,0.145161,5724.659486,265.140430,0.500230,0.254216
min,1.000222e+07,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,3.233189e+07,4.000000,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1252.396472,40013.000000,1.000000,0.000000
50%,5.411043e+07,4.000000,0.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2719.335160,40025.000000,1.000000,0.000000
75%,7.612731e+07,4.000000,1.000000,4.000000,1.000000,3.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5765.810794,40039.000000,2.000000,0.000000
max,9.999956e+07,4.000000,3.000000,6.000000,3.000000,4.000000,3.000000,3.000000,3.000000,99.000000,...,98.000000,98.000000,3.000000,3.000000,2.000000,2.000000,109100.623000,40050.000000,2.000000,1.000000

In [53]:
for i,j in enumerate(df.columns):
    if i==0 or i==71:
        continue
    print ("         "+j+"            \n\n")
    print (df[j].value_counts())

         IFATHER


 4    34873
 1     7780
 2     3050
 3       13
-1        2
Name: IFATHER, dtype: int64
         NRCH17_2


 0    33475
 1     4999
 2     4611
 3     2549
-1       84
Name: NRCH17_2, dtype: int64
         IRHHSIZ2


 4    10933
 2    10258
 3    10173
 5     6175
 6     4566
 1     3611
-1        2
Name: IRHHSIZ2, dtype: int64
         IIHHSIZ2


 1    45675
 3       41
-1        2
Name: IIHHSIZ2, dtype: int64
         IRKI17_2


 1    19258
 2    10126
 3     9554
 4     6778
-1        2
Name: IRKI17_2, dtype: int64
         IIKI17_2


 1    45544
 3      172
-1        2
Name: IIKI17_2, dtype: int64
         IRHH65_2


 1    40188
 2     3618
 3     1910
-1        2
Name: IRHH65_2, dtype: int64
         IIHH65_2


 1    45443
 3      235
 2       38
-1        2
Name: IIHH65_2, dtype: int64
         PRXRETRY


 99    44865
 2       752
 98       61
 94       33
 97        5
-1         2
Name: PRXRETRY, dtype: int64
         PRXYDATA


 99    32502
 1     13079
 98       61
 2        38
 94       33
 97        3
-1         2
Name: PRXYDATA, dtype: int64
         MEDICARE


 2     41703
 1      3789
 94      159
 97       39
 98       22
 85        4
-1         2
Name: MEDICARE, dtype: int64
         CAIDCHIP


 2     35030
 1     10248
 94      318
 85       51
 97       47
 98       22
-1         2
Name: CAIDCHIP, dtype: int64
         CHAMPUS


 2     43849
 1      1738
 94       74
 97       29
 98       22
 85        4
-1         2
Name: CHAMPUS, dtype: int64
         PRVHLTIN


 1     27827
 2     17567
 94      252
 97       44
 98       22
 85        4
-1         2
Name: PRVHLTIN, dtype: int64
         GRPHLTIN


 1     24551
 99    17567
 2      3205
 98      275
 94       70
 97       45
 85        3
-1         2
Name: GRPHLTIN, dtype: int64
         HLTINNOS


 99    39592
 2      4643
 1      1431
 94       22
 98       22
 97        6
-1         2
Name: HLTINNOS, dtype: int64
         HLCNOTYR


 2     37287
 99     4643
 1      3270
 98      347
 94       90
 97       58
 85       21
-1         2
Name: HLCNOTYR, dtype: int64
         HLCNOTMO


 99    41930
 1       644
 2       479
 98      456
 3       448
 6       355
 4       266
 5       210
 8       173
 12      159
 11      146
 9       145
 10      130
 7        98
 97       59
 94       16
 85        2
-1         2
Name: HLCNOTMO, dtype: int64
         HLCLAST


 99    40649
 4      1315
 3       958
 5       904
 1       872
 2       559
 98      368
 97       58
 94       33
-1         2
Name: HLCLAST, dtype: int64
         HLLOSRSN


 99    41553
 4       972
 1       755
 5       397
 98      368
 3       342
 2       305
 6       245
 12      224
 10      174
 11      162
 7        63
 97       62
 9        51
 8        21
 94       20
 85        2
-1         2
Name: HLLOSRSN, dtype: int64
         HLNVCOST


 99    44378
 1       451
 6       450
 98      378
 97       56
 94        3
-1         2
Name: HLNVCOST, dtype: int64
         HLNVOFFR


 99    44378
 6       765
 98      378
 1       136
 97       56
 94        3
-1         2
Name: HLNVOFFR, dtype: int64
         HLNVREF


 99    44378
 6       874
 98      378
 97       56
 1        27
 94        3
-1         2
Name: HLNVREF, dtype: int64
         HLNVNEED


 99    44378
 6       721
 98      378
 1       180
 97       56
 94        3
-1         2
Name: HLNVNEED, dtype: int64
         HLNVSOR


 99    44378
 6       768
 98      378
 1       133
 97       56
 94        3
-1         2
Name: HLNVSOR, dtype: int64
         IRMCDCHP


 2    35320
 1    10396
-1        2
Name: IRMCDCHP, dtype: int64
         IIMCDCHP


 1    45278
 3      438
-1        2
Name: IIMCDCHP, dtype: int64
         IRMEDICR


 2    41915
 1     3801
-1        2
Name: IRMEDICR, dtype: int64
         IIMEDICR


 1    45492
 3      224
-1        2
Name: IIMEDICR, dtype: int64
         IRCHMPUS


 2    43975
 1     1741
-1        2
Name: IRCHMPUS, dtype: int64
         IICHMPUS


 1    45587
 3      129
-1        2
Name: IICHMPUS, dtype: int64
         IRPRVHLT


 1    27998
 2    17718
-1        2
Name: IRPRVHLT, dtype: int64
         IIPRVHLT


 1    45394
 3      322
-1        2
Name: IIPRVHLT, dtype: int64
         IROTHHLT


 99    39493
 2      4755
 1      1468
-1         2
Name: IROTHHLT, dtype: int64
         IIOTHHLT


 9    39218
 1     6074
 3      424
-1        2
Name: IIOTHHLT, dtype: int64
         HLCALLFG


 98    45707
 1         9
-1         2
Name: HLCALLFG, dtype: int64
         HLCALL99


 98    45707
 1         9
-1         2
Name: HLCALL99, dtype: int64
         ANYHLTI2


 1     40649
 2      4643
 94      324
 97       56
 98       44
-1         2
Name: ANYHLTI2, dtype: int64
         IRINSUR4


 1    40961
 2     4755
-1        2
Name: IRINSUR4, dtype: int64
         IIINSUR4


 1    45292
 3      424
-1        2
Name: IIINSUR4, dtype: int64
         OTHINS


 2    39095
 1     6621
-1        2
Name: OTHINS, dtype: int64
         CELLNOTCL


 2     25919
 1     19713
 97       33
 98       26
 94       20
 85        5
-1         2
Name: CELLNOTCL, dtype: int64
         CELLWRKNG


 1     44647
 2      1010
 98       26
 97       23
 94        5
 85        5
-1         2
Name: CELLWRKNG, dtype: int64
         IRFAMSOC


 2    38313
 1     7403
-1        2
Name: IRFAMSOC, dtype: int64
         IIFAMSOC


 1    45285
 3      431
-1        2
Name: IIFAMSOC, dtype: int64
         IRFAMSSI


 2    42595
 1     3121
-1        2
Name: IRFAMSSI, dtype: int64
         IIFAMSSI


 1    45282
 3      434
-1        2
Name: IIFAMSSI, dtype: int64
         IRFSTAMP


 2    36580
 1     9136
-1        2
Name: IRFSTAMP, dtype: int64
         IIFSTAMP


 1    45487
 3      229
-1        2
Name: IIFSTAMP, dtype: int64
         IRFAMPMT


 2    44497
 1     1219
-1        2
Name: IRFAMPMT, dtype: int64
         IIFAMPMT


 1    45376
 3      340
-1        2
Name: IIFAMPMT, dtype: int64
         IRFAMSVC


 2    44069
 1     1647
-1        2
Name: IRFAMSVC, dtype: int64
         IIFAMSVC


 1    45457
 3      259
-1        2
Name: IIFAMSVC, dtype: int64
         IRWELMOS


 99    43261
 12     1287
 1       238
 6       188
 2       170
 3       151
 4       117
 5        72
 8        64
 9        63
 7        43
 10       37
 11       25
-1         2
Name: IRWELMOS, dtype: int64
         IIWELMOS


 9    42887
 1     2367
 3      462
-1        2
Name: IIWELMOS, dtype: int64
         IRPINC3


 1    21564
 2     7158
 3     4536
 6     3318
 4     3291
 7     3181
 5     2668
-1        2
Name: IRPINC3, dtype: int64
         IRFAMIN3


 7    14636
 6     7126
 2     5572
 3     5032
 4     4774
 5     4516
 1     4060
-1        2
Name: IRFAMIN3, dtype: int64
         IIPINC3


 1    44310
 3     1406
-1        2
Name: IIPINC3, dtype: int64
         IIFAMIN3


 1    41279
 3     4437
-1        2
Name: IIFAMIN3, dtype: int64
         GOVTPROG


 2    34872
 1    10844
-1        2
Name: GOVTPROG, dtype: int64
         POVERTY3


 3    25819
 2    10225
 1     9331
-1      343
Name: POVERTY3, dtype: int64
         TOOLONG


 2     42270
 1      3307
 98      139
-1         2
Name: TOOLONG, dtype: int64
         TROUBUND


 2     42980
 1      2597
 98      139
-1         2
Name: TROUBUND, dtype: int64
         PDEN10


 2    22526
 1    19681
 3     3509
-1        2
Name: PDEN10, dtype: int64
         COUTYP2


 1    20236
 2    15997
 3     9483
-1        2
Name: COUTYP2, dtype: int64
         MAIIN102


 2    44759
 1      957
-1        2
Name: MAIIN102, dtype: int64
         AIIND102


 2    44750
 1      966
-1        2
Name: AIIND102, dtype: int64
         ANALWT_C


521.442981      7
806.828999      5
361.998180      3
447.251800      3
1801.997436     2
15537.555280    2
420.740684      2
450.480165      2
1486.776465     2
7077.669459     2
3498.603931     2
1568.489604     2
4264.560820     2
7424.281009     2
742.197676      2
5225.694560     2
8972.016862     2
562.333265      2
18871.431930    2
2432.751856     2
11406.144530    2
744.402601      2
11518.303740    2
5099.670562     2
290.790525      2
4513.512374     2
13185.580400    2
1179.817850     2
18350.328460    2
948.232087      2
               ..
2764.258162     1
6695.179388     1
7156.556372     1
880.007299      1
4547.781313     1
8943.461411     1
4716.089895     1
7610.443760     1
1094.580087     1
1696.826602     1
213.873143      1
1310.286402     1
3428.889970     1
15949.053030    1
845.144134      1
11062.130130    1
6899.777114     1
8488.741485     1
4008.974156     1
3131.051836     1
2159.024653     1
2576.106767     1
1092.397304     1
2714.447117     1
185.937266      1
1360.048194     1
690.908204      1
678.833469      1
1593.414431     1
4564.473359     1
Name: ANALWT_C, Length: 45647, dtype: int64
         VESTR


 40048    1050
 40040    1040
 40020    1032
 40010    1028
 40045    1020
 40019    1017
 40029    1014
 40005    1013
 40008    1001
 40009     997
 40047     994
 40049     989
 40041     975
 40021     968
 40050     959
 40011     959
 40018     944
 40039     933
 40043     929
 40004     929
 40017     927
 40013     927
 40006     924
 40001     920
 40007     919
 40030     901
 40042     898
 40046     895
 40022     893
 40028     892
 40025     889
 40002     887
 40026     884
 40038     883
 40003     879
 40035     878
 40015     871
 40034     860
 40012     859
 40023     848
 40014     848
 40033     841
 40016     834
 40037     824
 40036     822
 40044     814
 40024     804
 40031     786
 40032     782
 40027     736
-1           2
Name: VESTR, dtype: int64
         VEREP


 1    23134
 2    22582
-1        2
Name: VEREP, dtype: int64

In [58]:
rmf=RandomForestClassifier()

In [59]:
rmf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [60]:
rmf.score(X,y)

0.99628155212388991

In [61]:
preds=rmf.predict(X_test)

In [62]:
subs=pd.DataFrame({'PERID':df_test['PERID'],'Criminal':preds})
subs.to_csv('rmf.csv',index=False,header=True,columns=['PERID','Criminal'])

In [64]:
import xgboost as xgb
from xgboost import XGBClassifier

In [65]:
xg=XGBClassifier()

In [66]:
xg.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [72]:
preds=xg.predict(X_test)

In [73]:
subs=pd.DataFrame({'PERID':df_test['PERID'],'Criminal':preds})
subs.to_csv('xgb.csv',index=False,header=True,columns=['PERID','Criminal'])